* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(23, [col-start] 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(24, [row-start] 1fr);
  min-width: 992px;
  background: #fcfcfc;
  overflow: auto;
  font-family: 'Fira Sans Condensed';
}
