.sun-icon {
  color: orange;
}
.moon-icon {
  color: #3131f5;
}

.header-icon {
  margin-right: 1rem !important;
}

a.about-links {
  color: #3880ff;
  text-decoration: none;
}

a.about-links:hover {
  color: rgb(235, 68, 90);
}

p {
  line-height: 1.5;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MuiSelect-root {
  background: transparent !important;
}

.MuiMenuItem-root.Mui-selected {
  background: transparent !important;
  color: #3880ff;
}
