/* Header  */
.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sun-icon {
  color: orange;
}
.moon-icon {
  color: #3131f5;
}

.header-icon {
  margin-right: 1rem !important;
}

/* Side menu */
a.about-links {
  color: #3880ff;
  text-decoration: none;
}

a.about-links:hover {
  color: rgb(235, 68, 90);
}

/* Material-UI component overrides */
.MuiSelect-root {
  background: transparent !important;
}

.MuiMenuItem-root.Mui-selected {
  background: transparent !important;
  color: #3880ff;
}

/* Remove Highcharts branding watermark from charts */
highcharts-button,
highcharts-legend,
.highcharts-container > svg > text.highcharts-credits {
  display: none;
}
